venv/
.venv/
venv/
__pycache__/
*.pyc
dados_filtrados/
dados_n_filtrados/
dados_filtrados/
dados_n_filtrados/
dados_filtrados/
dados_n_filtrados/
result_fase1/
result_fase2/
result_fase3/
logs/